# Virtual environment
venv/
env/
\.venv/
Scripts/
Lib/
Lib/site-packages/
# Python cache files
__pycache__/
*.pyc
*.pyo 

# Environment variables
.env
.env.local

# Jupyter and notebook checkpoints
.ipynb_checkpoints/

# Backup and editor files
*.swp
*~

#IDE settings
.vscode/
.idea/

#OS files
.DS_Store
Thumbs.db
